<div class="nav-mod-1">
    <ul>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank"><b>新闻</b></a>
        </li>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank">军事</a>
        </li>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank">社会</a>
        </li>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank">国际</a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank"><b>财经</b></a>
        </li>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank">股票</a>
        </li>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank">基金</a>
        </li>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank">外汇</a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank"><b>科技</b></a>
        </li>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank">手机</a>
        </li>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank">探索</a>
        </li>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank">众测</a>
        </li>
    </ul>
</div>

<div class="nav-mod-1">
    <ul>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank"><b>体育</b></a>
        </li>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank">NBA</a>
        </li>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank">中超</a>
        </li>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank">英超</a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank"><b>娱乐</b></a>
        </li>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank">明星</a>
        </li>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank">电影</a>
        </li>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank">星座</a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank"><b>汽车</b></a>
        </li>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank">报价</a>
        </li>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank">买车</a>
        </li>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank">新车</a>
        </li>
    </ul>
</div>

<div class="nav-mod-1">
    <ul>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank"><b>博客</b></a>
        </li>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank">专栏</a>
        </li>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank">文史</a>
        </li>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank">天气</a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank"><b>视频</b></a>
        </li>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank">综艺</a>
        </li>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank">VR</a>
        </li>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank">直播</a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank"><b>房产</b></a>
        </li>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank">二手房</a>
        </li>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank">家居</a>
        </li>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank">收藏</a>
        </li>
    </ul>
</div>

<div class="nav-mod-1">
    <ul>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank"><b>时尚</b></a>
        </li>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank">女性</a>
        </li>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank">健康</a>
        </li>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank">育儿</a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank"><b>教育</b></a>
        </li>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank">出国</a>
        </li>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank">公益</a>
        </li>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank">佛学</a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank"><b>图片</b></a>
        </li>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank">读书</a>
        </li>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank">情感</a>
        </li>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank">司法</a>
        </li>
    </ul>
</div>

<div class="nav-mod-1">
    <ul>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank"><b>城市</b></a>
        </li>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank">鲜城</a>
        </li>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank">陕西</a>
        </li>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank">English</a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank">旅游</b></a>
        </li>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank">航空</a>
        </li>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank">彩票</a>
        </li>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank">高尔夫</a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank"><b>游戏</b></a>
        </li>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank">页游</a>
        </li>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank">手游</a>
        </li>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank">SHOW</a>
        </li>
    </ul>
</div>

<div class="nav-mod-right">
    <ul>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank"><b>微博</b></a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="http://news.sina.com.cn/" target="_blank"><b>邮箱</b></a>
        </li>
    </ul>
    <ul>
        <li class="link-more">
            <a id="more-button" href="javascript:void(0)">更多<i></i></a>
            <div id="more-list">
                <ul>
                    <li><a href="http://gov.sina.com.cn/" target="_blank">政务</a></li>
                    <li><a href="http://chexian.sina.com/" target="_blank">车险</a></li>
                    <li><a href="http://search.sina.com.cn/?c=more" target="_blank">搜索</a></li>
                    <li><a href="http://help.sina.com.cn/" target="_blank">客服</a></li>
                    <li><a href="http://news.sina.com.cn/guide/" target="_blank">导航</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>
