@{
    ViewBag.Title = "会员中心";
}

<h2>欢迎你 @User.Identity.Name</h2>


@using (Html.BeginForm("Logout", "User"))
{
    <input type="submit" value="登出" />
}

<div style="float:right">
    @Html.Partial("Menu")
</div>
