    <div>
         @{Html.RenderPartial("Search");}
    </div>


    <div class="main-nav">
         @{Html.RenderPartial("_MainNav");}  
    </div>

       
    <div class="top-ads">
                <div class="top-ads-1">
                    <ul>
                        <li><a href="http://e.cn.miaozhen.com/r/k=2022917&amp;p=72JaP&amp;ro=sm&amp;dx=0&amp;rt=2&amp;ns=__IP__&amp;ni=__IESID__&amp;v=__LOC__&amp;nd=__DRA__&amp;np=__POS__&amp;nn=__APP__&amp;o=http%3A%2F%2Fclick.leju.com%2F%3Fi%3Dr4ZXbS1I%2CPdrzHZOCvB%2Fu8OHMqlR5j7ul0kt%2CKeMYncx%2Fzvzb1EWPqo9c4dQKrmlLkqtTnKyJuu9eH8Cwe6sZwWEkGr3tdTv4NVAYz%2CIBe9jdgSql3v3qiyKTvcxYOhzfPFR0QHFa3XWiALmtBziNTXEg0EtWEJzBF%2CNWW47UF3qWl8BjxUF%2FzRuu89IbjkOZKoM4nL8NeHfLVX2UosKrHgIIQqd1Q98FBoDl5lhvHMtpSSHeMONCCbMrkRuRFpdebjknL1UetCdl1aq7Rqz0J5XjON9tDG9v80tastmios%3D%26b%3D3" target="_blank">空调房怎么装更凉快</a></li>
                        <li><a href="http://e.cn.miaozhen.com/r/k=2022917&amp;p=71dZm&amp;ro=sm&amp;dx=0&amp;rt=2&amp;ns=__IP__&amp;ni=__IESID__&amp;v=__LOC__&amp;nd=__DRA__&amp;np=__POS__&amp;nn=__APP__&amp;o=http%3A%2F%2Fclick.leju.com%2F%3Fi%3DW50IFGU%2FQ8ktwwZHq8Sz9Z%2F6a46on4MQbIV3Xl2WInvfYL%2FhueucHXC3ESKe5w%2CCyvLKU%2F%2CmG9SycLr0WNfcfpDuwcniAvMRzC8ndgSzuenfxW%2CVxbGR3MawfPYH6xITSRALu9y55TlC1wfcWv%2F3irjCj0hNWKTw5SBEb%2FFxRltQDMKYkGYrbHjdrajZJeNSJXEBhs8fCp47nH%2CTs3bKc96ZadgpJcDzUkFCBcPiopQgZ%2FDAtBQOCOwlWeR6E4xa%26b%3D3" target="_blank">海外那些事他全知道</a></li>
                        <li><a href="http://e.cn.miaozhen.com/r/k=2056594&amp;p=78LWf&amp;dx=__IPDX__&amp;rt=2&amp;ns=__IP__&amp;ni=__IESID__&amp;v=__LOC__&amp;xa=__ADPLATFORM__&amp;o=http%3A%2F%2Fclick.leju.com%2F%3Fi%3DAcg9DB5kl0iH8yLykYGG9NOx5EwcdPoJPE2WO%2CT3ZihPuKDbrcKGWUScltg0IWhTgevcbYqS8kDwythXULXowgrsZrVV%2F5RmwCGd%2CldA7T3fwEJck0aoFrRwyJU52hhhYVu6kh28gHT7TGjj5euxCXd2aB9n1zPIjdb1jd6dQY%2FzrQ0Bh7oTqaWWTJCIdLFFup%2F%2CuxbQQJqey9YBRJ%2CkHTNkJSaoCM4d9jK8AXDwRlvVhudAw7SMAjEENoQCQiecoNDL5YIFt%2C7Z5ma%2FuFzXX1vw3jAejIvUkgVnx5ngNMk%3D%26b%3D3" target="_blank">碧桂园业绩发布</a></li>
                        <li><a href="http://e.cn.miaozhen.com/r/k=2022917&amp;p=71F72&amp;ro=sm&amp;dx=0&amp;rt=2&amp;ns=__IP__&amp;ni=__IESID__&amp;v=__LOC__&amp;nd=__DRA__&amp;np=__POS__&amp;nn=__APP__&amp;o=http%3A%2F%2Fclick.leju.com%2F%3Fi%3D1%2CoYG%2CQoRk6wsZpu5bN8WC50lXSl4VhHlaIgONwZ5O8WmVASTv35Tto7iBvRuWWtQSZ1E6zeHObxH2DN63TUOk5tgwnqiHd2B5%2FmpWIy3tYqK%2CzXutNs7bh%2CnsvZBnWZ3Gdr%2F%2FUHouKPIYPoFtJMBSixdOj1KglO%2Cdoa9B6eSmmDOa0km6X4%2FSr9EBGcKIQJIhiOWhslhfXFWAVOwvDY5nXuGlDCvtL2pQCAq0WiJ4T1RsJa%2FvOsx8H4bayl%2F0GGXJVrW3Mx4Tz27i2MMtsiITiqRuUXTXNiljMGkvPvh5c%3D%26b%3D3" target="_blank">请输入你家房子面积</a></li>
                        <li><a href="http://e.cn.miaozhen.com/r/k=2022917&amp;p=71DKL&amp;ro=sm&amp;dx=0&amp;rt=2&amp;ns=__IP__&amp;ni=__IESID__&amp;v=__LOC__&amp;nd=__DRA__&amp;np=__POS__&amp;nn=__APP__&amp;o=http%3A%2F%2Fclick.leju.com%2F%3Fi%3D9xsM2KxoQ9ze7S2LUUfcSnMcjNQNPYH6%2C84pujeNr1LDb2OI1xLUJGxbTSK%2F%2Cp64CDDeb2mikkVSDfKqxn1F%2FWpeCSASr6p%2CqG8EM%2FZD7q4QMV2jCJvOQXGZnGnLMvOUOzDXSVk10djxN84mufFT55UBGAD0w9wSd3rsCOruSp6ADuSfvuF33kZX0rF%2FnaQU7QRE7ywbNKx13dKDpCfz7sfWrj0HYXniTbUWWvNGHT8gr34gFspmPbVmh6g0Az3Qdu9UFfJsogx8BClwmCU%2CvcKIqE6RPeO4jmGNMQ4vmU0%3D%26b%3D3" target="_blank">装房子不要花冤枉钱</a></li>
                        <li><a href="http://e.cn.miaozhen.com/r/k=2022917&amp;p=71DKM&amp;ro=sm&amp;dx=0&amp;rt=2&amp;ns=__IP__&amp;ni=__IESID__&amp;v=__LOC__&amp;nd=__DRA__&amp;np=__POS__&amp;nn=__APP__&amp;o=http%3A%2F%2Fclick.leju.com%2F%3Fi%3DcKXPDMFyxl6UQV5F39BcKimfDNP5z94joBj5dRmNG5jZ5fAh59u%2CbEx4H%2CbM4Lt3sc3WfkSVxKcMHTqfIc4kmI0uO4L7ltJC848769GOE35wVOYC8EbsXOYjDy%2FhURi%2CX1nTJwoXNuUpi0lpgNv1Er7%2FSCPjQFMffCxFN10BLvPJ8sP5tHK%2ClGNXzuzrEMiO55Ae892qFA4HwxovPuIcUQKhD1ov0z5Of6akcn6Vv3tFrRtKqwqIQiJZ3eybDZeyaHL4f5Ni3YeK4H6GcZ5Hdx9J2sj0JhkPJDdnlg6S0jQ%3D%26b%3D3" target="_blank">夏天如何享舒适厨房</a></li>
                        <li><a href="http://e.cn.miaozhen.com/r/k=2022917&amp;p=72Jax&amp;ro=sm&amp;dx=0&amp;rt=2&amp;ns=__IP__&amp;ni=__IESID__&amp;v=__LOC__&amp;nd=__DRA__&amp;np=__POS__&amp;nn=__APP__&amp;o=http%3A%2F%2Fclick.leju.com%2F%3Fi%3DZSasmaypNqOA%2CJn3UfG%2FI332peuIt2oPANxLIIwBEf8J%2CT0yqXmEYkeo7flvnEA9plKsAEpycpmTy2FNDxpGwsMtGptQ716FP9xgJqyJRSA8takoJCTsDSjCDVN03P%2FBmTVgkphkN71KyxveYUgOIjpFKHO8stZWgNVaqHu0sk6Gou2EjThwbB1qlMWzyD3JVk6KM%2Caqobwv0%2CydVkGyKqPh%2Ck4yNoi6abu%2CwVf7p600BO2wivuHsh5LeKCo4p2Hj9X835oqYEFC%2FhLFT9lrc%2FjSz%2F5a1Bx8jP6mijVs5wc%3D%26b%3D3" target="_blank">8块钱竟然可以开工</a></li>
                        <li><a href="http://e.cn.miaozhen.com/r/k=2022917&amp;p=73xv2&amp;ro=sm&amp;dx=0&amp;rt=2&amp;ns=__IP__&amp;ni=__IESID__&amp;v=__LOC__&amp;nd=__DRA__&amp;np=__POS__&amp;nn=__APP__&amp;o=http%3A%2F%2Fclick.leju.com%2F%3Fi%3DShoCqNjmD92sRqUSWpMCS0GWI2%2FVcCxUsijsdglDmNecXUuZNTa5sd87Nz7dNoYR8tGRYrZ3oaE1UxeIySQ%2FAnltBgV485FG1C4Fkfagas82X4jXdsVCXcUpQlztk1ZTjV2Fgp%2CjVBa7JKeSAB7RasLvU6SP%2Ci7hDvpT2SoK8KkqRXeI7STsbnIFxTYud02OfdFVzRB06vkimkjAMAhWcH%2CbPsN4itkfLKKFSqazvgPRVDs49dyOMQoafe1na8eo%2CkAR89Tfm6bT0jEZ2UFLjHW01eyq1f49tkdkgSBG8lk%3D%26b%3D3" target="_blank">硬装软装全包需注意</a></li>
                    </ul>
                </div>

                <div class="top-ads-1">
                    <ul>
                        <li><a href="http://e.cn.miaozhen.com/r/k=2022917&amp;p=71RVu&amp;ro=sm&amp;dx=0&amp;rt=2&amp;ns=__IP__&amp;ni=__IESID__&amp;v=__LOC__&amp;nd=__DRA__&amp;np=__POS__&amp;nn=__APP__&amp;o=http%3A%2F%2Fclick.leju.com%2F%3Fi%3D0YlS8bK8HC63zuht8Lcqje7K64eTjkYY4k3jZN3inhQbeWnzElhoFD5ENt3cTADr3zJhThu6OkuGQgTUm3cSfo5UQzfoX%2FvKC7oZZcDQxHOoUCQ%2CmO1cnkSsrzCJ0k%2C6%2Cuz%2CLlYaNvie1tZKbof8hM%2CWUPQJpTcapytgl9vC97VKzdM1Aro9e6YOzUuTZHjbNgh2GvGgdLKWOhmfQMC3dw%3D%3D%26b%3D3" target="_blank">小开间也能精装修</a></li>
                        <li><a href="http://e.cn.miaozhen.com/r/k=2022917&amp;p=71dZo&amp;ro=sm&amp;dx=0&amp;rt=2&amp;ns=__IP__&amp;ni=__IESID__&amp;v=__LOC__&amp;nd=__DRA__&amp;np=__POS__&amp;nn=__APP__&amp;o=http%3A%2F%2Fclick.leju.com%2F%3Fi%3DQnjpT0hK15ySvLDvXflNwFT%2CBILtjbqD7tUN%2F22OuCgS7rNp%2CGYgagAqJ9e5WP61cAx%2CztH78Ea3D4aju9fa1u4mxJZCU1pgHJh%2FEMyVF5i19N1EYhp3gG5kvi6um1g8dj5Qaa1nPLoEKZs1Mnnp5ouqCHUVlYIXeh732Z2VG%2ClgL658w0469LZ9zaRofC9J6%2FQ%2FYjvlkci8BTB8mNYIaaEig%2CL0z68na8IxbtC5cOzjm2kogFSuJ0j5e45gjpNrNGTV0y5RY29%2FN%2CeWNWAqw7rFxd09Hd8Qyh1TsKV%2C3WM%3D%26b%3D3" target="_blank">房子这样装居然省钱</a></li>
                        <li><a href="http://e.cn.miaozhen.com/r/k=2022917&amp;p=71dZq&amp;ro=sm&amp;dx=0&amp;rt=2&amp;ns=__IP__&amp;ni=__IESID__&amp;v=__LOC__&amp;nd=__DRA__&amp;np=__POS__&amp;nn=__APP__&amp;o=http%3A%2F%2Fclick.leju.com%2F%3Fi%3DOj%2Fir4YMz6SKMG44XUFcBnjQ5Dn%2CVc%2CLaYfyFUazgsC5XT%2ChGovYCWx4deGNHaD5j8VQEve9KJaLmdW763Qdbaw01h4f7GosNYTay0dc5378X48Vjs43RLWbJsCOD6OLjvsgF4PJGpqzPht%2Cu%2ClL12kGymheFf1OvkFfGMdbSCnPY5ZulG7NJQ8nRTrdnkPxUrdebwVIUBFVDHSgMWEyUeZTYA2px4pbpRPr7%2CzE2HZLeXGZ3SisH8qaPZJnvTnfm2mnE4XpSDq3vhWm1jbXE%2FPsjei88vkDo1S2ahAvhX0%3D%26b%3D3" target="_blank">定装修没想象那么难</a></li>
                        <li><a href="http://e.cn.miaozhen.com/r/k=2022917&amp;p=71FAT&amp;ro=sm&amp;dx=0&amp;rt=2&amp;ns=__IP__&amp;ni=__IESID__&amp;v=__LOC__&amp;nd=__DRA__&amp;np=__POS__&amp;nn=__APP__&amp;o=http%3A%2F%2Fclick.leju.com%2F%3Fi%3DSHJAmqoXu6Mo2OFYHPgXcKNhsxJtTCsAOE5%2CORlf%2F%2COsG6%2CXJvBIdo134ulhsqna7Vwr%2CZyYA30ZuCkJNwRpqTi6d2mM83uZEhC4QZ2CxzCmKsFc0c%2Cbg0ASS1lByUV3%2FLaTPc%2CwRl%2Frh33Z3Ecmgyxz%2ChY3%2Cnoa1%2CwpHuStXP%2CpKWaUTm5d%2Fmc9jNElHCmP2NeSroiDAi%2FrM0vxHvmn213vVyL0SrMEViDHi%2FytuKrw80fhIr1goiKCNU5UzQ4sMvzvmPrBte%2F0IMO10Vytv0zMI%2CXwcNFPGbvJMwHnbKE%3D%26b%3D3" target="_blank">这个活动线上燃爆啦</a></li>
                        <li><a href="http://e.cn.miaozhen.com/r/k=2022917&amp;p=71kSU&amp;ro=sm&amp;dx=0&amp;rt=2&amp;ns=__IP__&amp;ni=__IESID__&amp;v=__LOC__&amp;nd=__DRA__&amp;np=__POS__&amp;nn=__APP__&amp;o=http%3A%2F%2Fclick.leju.com%2F%3Fi%3DQMFkIUYRkwIderFwAcDGP3vy2FTcF9K8TESZQZvcdlNdbKHOBSdcSCEoZzwurmZY3Aqc3SHWaMKhTBiBAcPNJCySVmySxxSM7tdAdQYTU2Gkx72osv9AyzJmdYC76qYlQHUGjeOCNFk12nCHQFy4sBLhvlQYnLe1oeuYuFEpZr%2FyD%2C56X4BHqm6kZ1GTpMc0sew783cMcwS6JC7R2gupDmVWEHxdIKDYLMh70xxi0tg2VR0QYiupw8RmO6pwDqsPxJlS8ikQ4oi82yTJj2%2CxHMA%2FZUY%2FKCerTuLb%2F74fYO4%3D%26b%3D3" target="_blank">春风十里不如她的家</a></li>
                        <li><a href="http://e.cn.miaozhen.com/r/k=2022917&amp;p=71dZt&amp;ro=sm&amp;dx=0&amp;rt=2&amp;ns=__IP__&amp;ni=__IESID__&amp;v=__LOC__&amp;nd=__DRA__&amp;np=__POS__&amp;nn=__APP__&amp;o=http%3A%2F%2Fclick.leju.com%2F%3Fi%3D9kyf3yTHjCzVln6QG72k7VqewJ6P%2CYGIbMv1w56k2ku9umx%2C86Hth%2CbJcAnvJfEMddQfNiKH3RcxC%2Fn3Q%2C6j7YXau9H%2FmUX72Wzq4dceHf3bfUvX8vmautswhR8EpfQ8XeA7R%2FVaCo0HpUpZprvCyjS4%2C%2FoLbKxrtJuVsZGzZNf4%2FrpMG%2FEQt8HZL50IvvZp1Xe1%2F%2FZlmM6s3lfp7D5FTA%3D%3D%26b%3D3" target="_blank">海外活动 一网收罗</a></li>
                        <li><a href="http://e.cn.miaozhen.com/r/k=2022917&amp;p=71dZr&amp;ro=sm&amp;dx=0&amp;rt=2&amp;ns=__IP__&amp;ni=__IESID__&amp;v=__LOC__&amp;nd=__DRA__&amp;np=__POS__&amp;nn=__APP__&amp;o=http%3A%2F%2Fclick.leju.com%2F%3Fi%3DTw4RIIOF4n3UrpZUnjk9K3fglA5xrZe7QYuRovgJ%2CWOnhAnpYvh7w8AuLLbOUyIKT%2Cv3nqcujNsjNISdtj6KsNMJEztYfEfYCpSbzgskpl99epfvf%2CdjNBIZyPch4x0e3AwFZqNi%2FDtfFpOaT4w8ut7oGUwFbAKWWBELfZmZh24lweiT%2CT3DMfUzM6qx7gP7%2FnA5dHPxaRlh3fl1%2FKwgh8jLT9%2FkTYViCdL2NsRQqhLRc%2FRdl%2F3y8EMXQ1hf085kch4QfjWS3Zf7CGnOixgaqhDxF7K7887PJNOzVCOJeF8%3D%26b%3D3" target="_blank">装修前不看这个会哭</a></li>
                        <li><a href="http://e.cn.miaozhen.com/r/k=2022917&amp;p=71DPl&amp;ro=sm&amp;dx=0&amp;rt=2&amp;ns=__IP__&amp;ni=__IESID__&amp;v=__LOC__&amp;nd=__DRA__&amp;np=__POS__&amp;nn=__APP__&amp;o=http%3A%2F%2Fclick.leju.com%2F%3Fi%3DQ0Kw3PUZ4vXao3pFrsZ%2Cu1qeWebgpAqsIzV5VOMrupv6juRVly11Ed9fiwS%2FMRVFk5m2p7yTow7sY%2C1IUzdnFvQJjKHBJu0EmNPmEpGCUAKJ5KC97YNZt21F7yf9mPyp29sNz60Da3wtifU2qILOXK3whh1zQCSADIR5xApsiP5oks9Eou03yFhOpOTTwR8unZyfYLJmg6rBfnIhwYODAGUHovdVLwCz7d0UleXMhQ%2CbVpPZVYQC8dtUYIieAX5rnicQJ65wWIhnOIYqJsmleZebIMCFRZZjHY6Rwti7%2F9UhZImayi4gvT0F%2CUGQrRmIzIAUDqo7zsj%2FSjInLRTa%2Cw%3D%3D%26b%3D3" target="_blank">新房装修38天完工</a></li>
                    </ul>
                </div>
            </div>

        
    <div class="part-a">
                <div class="part-a-l">
                    <div class="mod-01">
                        <div class="ads-gif">
                            <img border="0" src="~/Content/SinaNews/img/ads.gif" style="width:240px;height:47px;border:0" alt="//d2.leju.com/ia/2017/08/21/f599a966fd47f0img.gif">
                        </div>
                        <div class="ads-pic-roll">
                            <div class="picRoll">
                                <ul class="imglist">
                                    <li><a href="#" target="_blank"><img src="~/Content/SinaNews/img/ads-pic/ads (1).jpg" alt="1"></a></li>
                                    <li><a href="#" target="_blank"><img src="~/Content/SinaNews/img/ads-pic/ads (2).jpg" alt="2"></a></li>
                                    <li><a href="#" target="_blank"><img src="~/Content/SinaNews/img/ads-pic/ads (3).jpg" alt="3"></a></li>
                                    <li><a href="#" target="_blank"><img src="~/Content/SinaNews/img/ads-pic/ads (4).jpg" alt="4"></a></li>
                                    <li><a href="#" target="_blank"><img src="~/Content/SinaNews/img/ads-pic/ads (5).jpg" alt="5"></a></li>
                                    <li><a href="#" target="_blank"><img src="~/Content/SinaNews/img/ads-pic/ads (6).jpg" alt="6"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="blank-cont" style="height:8px;"></div>

                    <div class="mod-02">
                        <div class="tit01">
                            <h3><a href="http://m.sina.com.cn/" target="_blank">新浪产品</a></h3>
                            <span class="mod-guess-control">
                                <a href="javascript:;" id="SI_products_arrow_l" title="上一帧" hidefocus="true">上一帧</a>
                                <a href="javascript:;" id="SI_products_arrow_r" title="下一帧" hidefocus="true">下一帧</a>
                            </span>
                        </div>

                        <div class="item-sina-products">
                            <div class="isp-head">
                                <a id="isp-title" href="http://data.auto.sina.com.cn/" target="_blank">车型大全</a>
                                <span class="clearfix"><a target="_blank" href="http://auto.sina.com.cn/car_manual/index.d.html">购车完全指南</a></span>
                            </div>
                            <div class="isp-content">
                                <div class="auto-price">
                                    <table width="100%" cellspacing="0" cellspadding="0">
                                        <tr>
                                            <td><a href="http://data.auto.sina.com.cn/#global:::orderby=pv&amp;seq=desc&amp;price=5-8&amp;type=&amp;outgas=&amp;country=&amp;color=&amp;gear_box=&amp;config=&amp;seat_num=&amp;cheshen=&amp;hezi=&amp;drive=&amp;fuel=&amp;page=1&amp;limit=18&amp;callback=" target="_blank">5-8万</a></td>
                                            <td><a href="http://data.auto.sina.com.cn/#global:::orderby=pv&amp;seq=desc&amp;price=8-11&amp;type=&amp;outgas=&amp;country=&amp;color=&amp;gear_box=&amp;config=&amp;seat_num=&amp;cheshen=&amp;hezi=&amp;drive=&amp;fuel=&amp;page=1&amp;limit=18&amp;callback=" target="_blank">8-11万</a></td>
                                            <td><a href="http://data.auto.sina.com.cn/#global:::orderby=pv&amp;seq=desc&amp;price=11-15&amp;type=&amp;outgas=&amp;country=&amp;color=&amp;gear_box=&amp;config=&amp;seat_num=&amp;cheshen=&amp;hezi=&amp;drive=&amp;fuel=&amp;page=1&amp;limit=18&amp;callback=" target="_blank">11-15万</a></td>
                                            <td class="taR"><a href="http://data.auto.sina.com.cn/#global:::orderby=pv&amp;seq=desc&amp;price=15-20&amp;type=&amp;outgas=&amp;country=&amp;color=&amp;gear_box=&amp;config=&amp;seat_num=&amp;cheshen=&amp;hezi=&amp;drive=&amp;fuel=&amp;page=1&amp;limit=18&amp;callback=" target="_blank">15-20万</a></td>
                                        </tr>
                                        <tr>
                                            <td><a href="http://data.auto.sina.com.cn/#global:::orderby=pv&amp;seq=desc&amp;price=20-25&amp;type=&amp;outgas=&amp;country=&amp;color=&amp;gear_box=&amp;config=&amp;seat_num=&amp;cheshen=&amp;hezi=&amp;drive=&amp;fuel=&amp;page=1&amp;limit=18&amp;callback=" target="_blank">20-25万</a></td>
                                            <td><a href="http://data.auto.sina.com.cn/#global:::orderby=pv&amp;seq=desc&amp;price=25-35&amp;type=&amp;outgas=&amp;country=&amp;color=&amp;gear_box=&amp;config=&amp;seat_num=&amp;cheshen=&amp;hezi=&amp;drive=&amp;fuel=&amp;page=1&amp;limit=18&amp;callback=" target="_blank">25-35万</a></td>
                                            <td><a href="http://data.auto.sina.com.cn/#global:::orderby=pv&amp;seq=desc&amp;price=35-50&amp;type=&amp;outgas=&amp;country=&amp;color=&amp;gear_box=&amp;config=&amp;seat_num=&amp;cheshen=&amp;hezi=&amp;drive=&amp;fuel=&amp;page=1&amp;limit=18&amp;callback=" target="_blank">35-50万</a></td>
                                            <td class="taR"><a href="http://data.auto.sina.com.cn/#global:::orderby=pv&amp;seq=desc&amp;price=100-9999999&amp;type=&amp;outgas=&amp;country=&amp;color=&amp;gear_box=&amp;config=&amp;seat_num=&amp;cheshen=&amp;hezi=&amp;drive=&amp;fuel=&amp;page=1&amp;limit=18&amp;callback=" target="_blank">更多价格</a></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="isp-auto-type">
                                    <ul class="clearfix">
                                        <li class="type_2"><a href="http://data.auto.sina.com.cn/a0/" target="_blank"><img src="~/Content/SinaNews/img/汽车icon/小型车.png"></br></span><em>小型</em></a></li>
                                        <li class="type_3"><a href="http://data.auto.sina.com.cn/a/" target="_blank"><img src="~/Content/SinaNews/img/汽车icon/紧凑型.png"></br></span><em>紧凑型</em></a></li>
                                        <li class="type_4"><a href="http://data.auto.sina.com.cn/b/" target="_blank"><img src="~/Content/SinaNews/img/汽车icon/中型.png"></br><em>中型</em></a></li>
                                        <li class="type_7 last"><a href="http://data.auto.sina.com.cn/suv/" target="_blank"><img src="~/Content/SinaNews/img/汽车icon/SUV.png"></br><em>SUV</em></a></li>
                                    </ul>
                                </div>
                                <div class="isp-auto-compare">
                                    <a class="btn-compare01" href="http://data.auto.sina.com.cn/" target="_blank">品牌大全</a>
                                    <a class="btn-compare02" href="http://auto.sina.com.cn/car_manual/index.d.html" target="_blank">购车指南</a>
                                    <a class="btn-compare03" href="http://photo.auto.sina.com.cn/" target="_blank">高清实拍</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="order-menu order-menu-new">
                        <span class="no-bl head-selected"><a href="http://photo.sina.com.cn/" target="_blank">高考</a></span>
                        <span class="no-bl"><a href="http://photo.sina.com.cn/" target="_blank">热卖</a></span>
                        <span class="no-bl"><a href="http://photo.sina.com.cn/" target="_blank">新款</a></span>
                        <span class="no-bl"><a href="http://photo.sina.com.cn/" target="_blank">淘宝</a></span>
                    </div>
                    <div class="static-pic" style="padding-left:1px ;border: 1px solid #dbdee1;"><img src="~/Content/SinaNews/img/无标题.png" style="width: 235px;height: 198px;" /></div>
                </div>

                <!--
                    作者：1289885769@qq.com
                    时间：2017-08-24
                    描述：新闻左侧结束，中间开始
                -->

                <div class="part-a-m">
                    <div class="mod-04">
                        <div class="mod-04-head">
                            <div class="order-menu switch-menu">
                                <span class="no-bl head-selected"><a href="http://photo.sina.com.cn/" target="_blank">图片</a></span>
                                <span class="no-bl"><a href="http://photo.sina.com.cn/" target="_blank">专栏</a></span>
                                <span class="no-bl"><a href="http://photo.sina.com.cn/" target="_blank">热点</a></span>
                            </div>
                        </div>
                        <div class="mod-04-content">
                            <div class="tab-cont-out switch-div">
                                <div class="tab-cont">
                                    <div class="pic-list">
                                        <a class="uni-blk-pic" href="http://slide.news.sina.com.cn/slide_1_86058_198450.html" target="_blank">
                                            <img src="~/Content/SinaNews/img/picList/piclist1.jpg"><span>沪数万共享车堆积</span>
                                        </a>
                                        <a class="uni-blk-pic" href="http://slide.news.sina.com.cn/slide_1_86058_198450.html" target="_blank">
                                            <img src="~/Content/SinaNews/img/picList/piclist2.jpg"><span>最强台风登陆现场</span>
                                        </a>
                                        <a class="uni-blk-pic" href="http://slide.news.sina.com.cn/slide_1_86058_198450.html" target="_blank">
                                            <img src="~/Content/SinaNews/img/picList/piclist3.jpg"><span>美女休学卖旗袍</span>
                                        </a>
                                    </div>
                                    <div class="pic-content-list">
                                        <ul class="list-a">
                                            <li>
                                                <a target="_blank" href="http://slide.news.sina.com.cn/s/slide_1_2841_198478.html" class="liveNewsLeft photoNewsLeft">轿车堵门被吊上房顶</a>
                                                <a target="_blank" href="http://slide.news.sina.com.cn/s/slide_1_2841_198464.html">8男抢玛莎拉蒂半路没油被抓</a>
                                            </li>
                                            <li>
                                                <a target="_blank" href="http://slide.news.sina.com.cn/w/slide_1_2841_198469.html" class="liveNewsLeft photoNewsLeft">美国两高速列车相撞42伤 </a>
                                                <a target="_blank" href="http://slide.news.sina.com.cn/s/slide_1_2841_198467.html">95后直播卖石榴月售18万</a>
                                            </li>
                                            <li>
                                                <a target="_blank" href="http://slide.news.sina.com.cn/w/slide_1_86058_198492.html" class="liveNewsLeft photoNewsLeft">他们是印度首对变性夫妻</a>
                                                <a target="_blank" href="http://slide.news.sina.com.cn/slide_1_86058_198409.html">1只蟋蟀卖5万年创收过亿</a>
                                            </li>
                                            <li>
                                                <a class="photoNewsLeft linkRed01" target="_blank" href="http://slide.fashion.sina.com.cn/s/slide_24_84625_97623.html">“浆糊”小姐姐粉靴秀美腿</a>
                                                <a target="_blank" href="http://slide.fashion.sina.com.cn/s/slide_24_84625_97547.html" class="linkRed01">冯绍峰演绎极简优雅</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!--
                                    作者：1289885769@qq.com
                                    时间：2017-08-23
                                    描述：新闻切换
                                -->
                                <div class="tab-cont">
                                    <div class="pic-list">
                                        <a class="uni-blk-pic" href="http://slide.news.sina.com.cn/slide_1_86058_198450.html" target="_blank">
                                            <img src="~/Content/SinaNews/img/picList/piclist4.jpg"><span>巴黎宝贝无忧童年</span>
                                        </a>
                                        <a class="uni-blk-pic" href="http://slide.news.sina.com.cn/slide_1_86058_198450.html" target="_blank">
                                            <img src="~/Content/SinaNews/img/picList/piclist5.jpg"><span>用镜头记录生活</span>
                                        </a>
                                        <a class="uni-blk-pic" href="http://slide.news.sina.com.cn/slide_1_86058_198450.html" target="_blank">
                                            <img src="~/Content/SinaNews/img/picList/piclist6.jpg"><span>与天水相连狼毒花</span>
                                        </a>
                                    </div>
                                    <div class="pic-content-list">
                                        <ul class="list-a">
                                            <li><a href="http://blog.sina.com.cn/s/blog_1515cbfd80102x1cs.html" target="_blank">张柏芝凭什么不能谈恋爱</a><a href="http://blog.sina.com.cn/s/blog_7964e4ec0102xlmn.html" target="_blank">   北电07明星班美女生存现状</a></li>
                                            <li><a target="_blank" href="http://sports.sina.com.cn/zl/football/2017-08-23/zldoc-ifykcypq4217657.shtml">上港4比0踏遍恒大每一寸尊严</a> <a target="_blank" href="http://sports.sina.com.cn/zl/basketball/2017-08-23/zldoc-ifykcppy0580298.shtml">为凯尔特人和欧文高兴</a></li>
                                            <li><a target="_blank" href="http://finance.sina.com.cn/zl/china/2017-08-23/zl-ifykcqaw0845884.shtml">下半年央企兼并重组将加速</a> <a target="_blank" href="http://tech.sina.com.cn/csj/2017-08-23/doc-ifykcppy0548514.shtml">郭敬明的欲望与权力的消逝</a></li>
                                            <li><a href="http://fashion.sina.com.cn/zl/fashion/2017-08-21/doc-ifykcypq2412191.shtml" target="_blank" class="linkRed01">如何用基础单品穿出好品味</a> <a target="_blank" href="http://blog.sina.com.cn/s/blog_15f3c061f0102x7m4.html">女童保护讲师曝被性侵经历</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!--
                                    作者：1289885769@qq.com
                                    时间：2017-08-23
                                    描述：新闻切换
                                -->
                                <div class="tab-cont">
                                    <div class="pic-list">
                                        <a class="uni-blk-pic" href="http://slide.news.sina.com.cn/slide_1_86058_198450.html" target="_blank">
                                            <img src="~/Content/SinaNews/img/picList/piclist7.jpg"><span>俄空袭歼灭IS分子</span>
                                        </a>
                                        <a class="uni-blk-pic" href="http://slide.news.sina.com.cn/slide_1_86058_198450.html" target="_blank">
                                            <img src="~/Content/SinaNews/img/picList/piclist8.jpg"><span>属于骑士的记忆</span>
                                        </a>
                                        <a class="uni-blk-pic" href="http://slide.news.sina.com.cn/slide_1_86058_198450.html" target="_blank">
                                            <img src="~/Content/SinaNews/img/picList/piclist9.jpg"><span>孙俪晒多多吃饭</span>
                                        </a>
                                    </div>
                                    <div class="pic-content-list">
                                        <ul class="list-a">
                                            <li><a target="_blank" href="http://finance.sina.com.cn/manage/crz/2017-08-23/doc-ifykcypq4331719.shtml">商人郭敬明：10年1.42亿版税收入 4家公司高管</a></li>
                                            <li><a target="_blank" href="http://slide.news.sina.com.cn/slide_1_86058_198407.html" class="liveNewsLeft photoNewsLeft">17岁的她已享天伦之乐</a> <a target="_blank" href="http://slide.news.sina.com.cn/s/slide_1_86058_198489.html">70,80和90后保温杯找共鸣</a></li>
                                            <li><a target="_blank" href="http://sports.sina.com.cn/nba/">达成!骑士用欧文换小刺客</a> <a target="_blank" href="http://sports.sina.com.cn/basketball/nba/2017-08-23/doc-ifykcppy0527202.shtml">再续兄弟情?韦德或再入骑士</a></li>
                                            <li><a target="_blank" class="videoNewsLeft" href="http://ent.sina.com.cn/video/#251527829">陈妍希抱娃露宠溺微笑 </a> <a target="_blank" href="http://ent.sina.com.cn/video/#251528069" class="videoNewsLeft videoNewsLeft">曝满文军与妻子离婚 </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="mod-04">
                        <div class="mod-04-head">
                            <div class="order-menu switch-menu2">
                                <span class="no-bl head-selected"><a href="http://photo.sina.com.cn/" target="_blank">视频</a></span>
                                <span class="no-bl"><a href="http://photo.sina.com.cn/" target="_blank">秒拍</a></span>
                                <span class="no-bl"><a href="http://photo.sina.com.cn/" target="_blank">综艺</a></span>
                            </div>
                        </div>
                        <div class="mod-04-content">
                            <div class="tab-cont-out switch-div2">
                                <div class="tab-cont">
                                    <div class="pic-list clearfixlist">
                                        <a class="uni-blk-pic uni-blk-pic2" href="http://slide.news.sina.com.cn/slide_1_86058_198450.html" target="_blank">
                                            <img src="~/Content/SinaNews/img/picList/piclist10.jpg"><span>周润发砍树清路</span>
                                        </a>
                                        <ul class="list-a list-b">
                                            <li><a href="http://video.sina.com.cn/news/spj/topvideoes20170824/?opsubject_id=top1#251530113" target="_blank" class="videoNewsLeft liveNewsLeft">男子台风中扶车被压不幸身亡</a></li>
                                            <li><a href="http://video.sina.com.cn/news/spj/topvideoes20170824/?opsubject_id=top1#251534038" target="_blank" class="videoNewsLeft liveNewsLeft">22岁女孩疑因憋尿猝死卫生间</a></li>
                                            <li><a class="videoNewsLeft liveNewsLeft" href="http://video.sina.com.cn/news/spj/topvideoes20170824/?opsubject_id=top1#251534122" target="_blank">北京地铁故障挂布当门继续走</a></li>
                                            <li><a href="http://video.sina.com.cn/news/spj/topvideoes20170824/?opsubject_id=top1#251529948" target="_blank" class="videoNewsLeft liveNewsLeft">惯犯盗窃后留字条求屋主原谅</a></li>
                                        </ul>
                                    </div>
                                    <div class="pic-list clearfixlist">
                                        <a class="uni-blk-pic uni-blk-pic2" href="http://slide.news.sina.com.cn/slide_1_86058_198450.html" target="_blank">
                                            <img src="~/Content/SinaNews/img/picList/piclist11.jpg"><span>曼联连胜4-0登顶</span>
                                        </a>
                                        <ul class="list-a list-b">
                                            <li><a href="http://video.sina.com.cn/news/spj/topvideoes20170824/?opsubject_id=top1#251533730" target="_blank" class="videoNewsLeft liveNewsLeft">女子遭马蜂围攻蛰遍全身身亡</a></li>
                                            <li><a href="http://video.sina.com.cn/news/spj/topvideoes20170824/?opsubject_id=top1#251533940" target="_blank" class="videoNewsLeft liveNewsLeft">回微信不用手不用声音靠意念</a></li>
                                            <li><a href="http://video.sina.com.cn/news/spj/topvideoes20170824/?opsubject_id=top1#251533912" target="_blank" class="videoNewsLeft liveNewsLeft">男子骑着三轮车高速上做直播</a></li>
                                            <li><a href="http://video.sina.com.cn/news/spj/topvideoes20170824/?opsubject_id=top1#251533865" target="_blank" class="videoNewsLeft liveNewsLeft">狗子仅靠闻气味成功识别癌症</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!--
                                    作者：1289885769@qq.com
                                    时间：2017-08-23
                                    描述：新闻切换
                                -->
                                <div class="tab-cont">
                                    <div class="pic-list clearfixlist">
                                        <a class="uni-blk-pic uni-blk-pic2" href="http://slide.news.sina.com.cn/slide_1_86058_198450.html" target="_blank">
                                            <img src="~/Content/SinaNews/img/picList/piclist12.jpg"><span>周润发砍树清路</span>
                                        </a>
                                        <ul class="list-a list-b">
                                            <li><a href="http://www.miaopai.com/show/nXLkLtuUkSBO1qs5VyeBYfA1WehA7TGXILryyw__.htm" target="_blank" class="videoNewsLeft">郭敬明捞了多少钱？员工捅刀</a></li>
                                            <li><a target="_blank" href="http://www.miaopai.com/show/ZZhLLgochWjOXRQ-C-oFWjLf3AwZWDVcgHDhWw__.htm" class="videoNewsLeft">"慰安妇"被做表情包，网友怒</a></li>
                                            <li><a href="http://www.miaopai.com/show/Df89ET5u8Ri8my6mZs31ZcVnuMHIMN8RMo3Zrw__.htm" target="_blank" class="videoNewsLeft">张柏芝被疯狂追求，眼哭肿了</a></li>
                                            <li><a class="videoNewsLeft" href="http://www.miaopai.com/show/BtoQVFxOwBUFcAB1DmPjbqrqo~hspiwCg2mDcw__.htm" target="_blank">baby竟为他在私密部位纹身</a></li>
                                        </ul>
                                    </div>
                                    <div class="pic-list clearfixlist">
                                        <a class="uni-blk-pic uni-blk-pic2" href="http://slide.news.sina.com.cn/slide_1_86058_198450.html" target="_blank">
                                            <img src="~/Content/SinaNews/img/picList/piclist13.jpg"><span>曼联连胜4-0登顶</span>
                                        </a>
                                        <ul class="list-a list-b">
                                            <li><a href="http://www.miaopai.com/show/XjuX7YAjuBbmpziJAO80m4P5s2J~j1qL7n56EQ__.htm" target="_blank" class="videoNewsLeft">iPhone脐带式数据线颜值惊人</a></li>
                                            <li><a class="videoNewsLeft" href="http://www.miaopai.com/show/ut3YOT~c9Wa7jSW-WWauqT~QnX-aoFtL27QHsQ__.htm" target="_blank">23岁模特嫁豪门沦为生育机器</a></li>
                                            <li><a href="http://www.miaopai.com/show/uDeJjSN2jdAFkqHtuKuCpMA3DcRgZ1Eu1CyMcA__.htm" target="_blank" class="videoNewsLeft">吴京一句话得罪所有圈中女星</a></li>
                                            <li><a href="http://www.miaopai.com/show/TaUJtHFk5-thut9gGKVbfM2LOtfLAZztafNkEQ__.htm" target="_blank" class="videoNewsLeft">自制平底锅版榴莲千层蛋糕！</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!--
                                    作者：1289885769@qq.com
                                    时间：2017-08-23
                                    描述：新闻切换
                                -->
                                <div class="tab-cont">
                                    <div class="pic-list clearfixlist">
                                        <a class="uni-blk-pic uni-blk-pic2" href="http://slide.news.sina.com.cn/slide_1_86058_198450.html" target="_blank">
                                            <img src="~/Content/SinaNews/img/picList/piclist14.jpg"><span>周润发砍树清路</span>
                                        </a>
                                        <ul class="list-a list-b">
                                            <li><a class="videoNewsLeft" href="http://video.sina.com.cn/p/ent/s/m/doc/2017-08-18/100566903741.html?opsubject_id=enttopnews" target="_blank">奔跑吧：邓超提前谈最新名单</a></li>
                                            <li><a class="videoNewsLeft" href="http://video.sina.com.cn/p/ent/z/y/doc/2017-08-17/145466897793.html?opsubject_id=enttopnews" target="_blank">蒙面：猜评团大拷问Ella坐镇</a></li>
                                            <li><a href="http://video.sina.com.cn/p/ent/z/v/doc/2017-07-13/092066627175.html?opsubject_id=enttopnews" target="_blank" class="videoNewsLeft">中餐厅：周冬雨手忙脚乱闯祸</a></li>
                                            <li><a class="videoNewsLeft" href="http://video.sina.com.cn/p/ent/s/m/doc/2017-08-17/093266895215.html?opsubject_id=enttopnews" target="_blank">中餐厅：黄晓明邪魅一笑示范</a></li>
                                        </ul>
                                    </div>
                                    <div class="pic-list clearfixlist">
                                        <a class="uni-blk-pic uni-blk-pic2" href="http://slide.news.sina.com.cn/slide_1_86058_198450.html" target="_blank">
                                            <img src="~/Content/SinaNews/img/picList/piclist15.jpg"><span>曼联连胜4-0登顶</span>
                                        </a>
                                        <ul class="list-a list-b">
                                            <li><a class="videoNewsLeft" href="http://video.sina.com.cn/p/ent/z/v/doc/2017-08-16/120766888725.html?opsubject_id=enttopnews" target="_blank">来吧：陈意涵加盟是陈小春粉</a></li>
                                            <li><a class="videoNewsLeft" href="http://video.sina.com.cn/p/ent/doc/2017-08-17/113166896493.html?opsubject_id=enttopnews" target="_blank">饭局：陈学冬不止一次被劈腿</a></li>
                                            <li><a class="videoNewsLeft" href="http://video.sina.com.cn/p/ent/doc/2017-08-17/114066896607.html?opsubject_id=enttopnews" target="_blank">金星秀：朱茵谈与周星驰恋情</a></li>
                                            <li><a class="videoNewsLeft" href="http://video.sina.com.cn/p/ent/doc/2017-08-18/092966903189.html?opsubject_id=enttopnews" target="_blank">但愿：刘晓庆挑战高龄跳伞</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="mod-05">
                        <div class="mod-04-head">
                            <div class="order-menu">
                                <span class="no-bl head-selected clear-padding">
                                    <em>猜你喜欢</em>
                                    <span>
                                        <a class="mod-guess-prev" href="javascript:;" title="上一帧" id="SI_Guess_Prev" hidefocus="true">上一帧</a>
                                        <span class="mod-guess-dots" id="SI_Guess_Dots">
                                            <span class="dotItem" title="第1页"><img src="~/Content/SinaNews/img/小图标灰.png" /></span>
                                            <span class="dotItem" title="第2页"><img src="~/Content/SinaNews/img/小图标灰.png" /></span>
                                            <span class="dotItem current" title="第3页"><img src="~/Content/SinaNews/img/小图标灰.png" /></span>
                                            <span class="dotItem" title="第4页"><img src="~/Content/SinaNews/img/小图标灰.png" /></span>
                                            <span class="dotItem" title="第5页"><img src="~/Content/SinaNews/img/小图标灰.png" /></span>
                                            <span class="dotItem" title="第6页"><img src="~/Content/SinaNews/img/小图标灰.png" /></span>
                                        </span>
                                        <a class="mod-guess-next" href="javascript:;" id="SI_products_arrow_r" title="下一帧" hidefocus="true">下一帧</a>
                                    </span>


                                </span>
                            </div>
                        </div>
                        <div class="news-switch-m">
                            <ul class="list-a list-rightmove">
                                <li><a page-data="3" class="slideNewsLeft" target="_blank" suda-uatrack="key=index_new_guess&amp;value=c_click" href="http://slide.ent.sina.com.cn/star/hr/w/slide_4_704_226808.html?cre=sinapc&amp;mod=g&amp;loc=25&amp;r=0&amp;doct=0&amp;rfunc=26&amp;tj=none" title="组图：大嫂徐冬冬穿紧身皮裙弹吉他 傲人上围吸睛">组图：大嫂徐冬冬穿紧身皮裙弹吉他 傲人上围吸睛</a></li>
                                <li><a page-data="3" class="slideNewsLeft" target="_blank" suda-uatrack="key=index_new_guess&amp;value=c_click" href="http://slide.ent.sina.com.cn/star/w/slide_4_704_227379.html?cre=sinapc&amp;mod=g&amp;loc=26&amp;r=0&amp;doct=0&amp;rfunc=26&amp;tj=none" title="组图：伊能静晒家中精致布局 小米粒超开心笑弯了眼">组图：伊能静晒家中精致布局 小米粒超开心笑弯了眼</a></li>
                                <li><a page-data="3" class="slideNewsLeft" target="_blank" suda-uatrack="key=index_new_guess&amp;value=c_click" href="http://slide.ent.sina.com.cn/star/slide_4_704_227350.html?cre=sinapc&amp;mod=g&amp;loc=27&amp;r=0&amp;doct=0&amp;rfunc=26&amp;tj=none" title="组图：辣妈Ella微博晒街拍 走路带风时髦帅气">组图：辣妈Ella微博晒街拍 走路带风时髦帅气</a></li>
                                <li><a page-data="3" class="slideNewsLeft" target="_blank" suda-uatrack="key=index_new_guess&amp;value=c_click" href="http://slide.ent.sina.com.cn/star/slide_4_704_227349.html?cre=sinapc&amp;mod=g&amp;loc=28&amp;r=0&amp;doct=0&amp;rfunc=26&amp;tj=none" title="组图：六位华裔超模将登2017年维密大秀">组图：六位华裔超模将登2017年维密大秀</a></li>
                                <li><a page-data="3" class="" target="_blank" suda-uatrack="key=index_new_guess&amp;value=c_click" href="http://ent.sina.com.cn/s/m/2017-08-24/doc-ifykcypq5360683.shtml?cre=sinapc&amp;mod=g&amp;loc=29&amp;r=0&amp;doct=0&amp;rfunc=26&amp;tj=none" title="经纪人曝孙茜与老公亲密照 蔡远航称不能得罪">经纪人曝孙茜与老公亲密照 蔡远航称不能得罪</a></li>
                                <li><a page-data="3" class="slideNewsLeft" target="_blank" suda-uatrack="key=index_new_guess&amp;value=c_click" href="http://slide.ent.sina.com.cn/star/k/slide_4_704_227216.html?cre=sinapc&amp;mod=g&amp;loc=30&amp;r=0&amp;doct=0&amp;rfunc=26&amp;tj=none" title="组图：玄彬女友姜素拉亮相脸变圆润 身材仍凹凸有致">组图：玄彬女友姜素拉亮相脸变圆润 身材仍凹凸有致</a></li>
                                <li><a page-data="3" class="slideNewsLeft" target="_blank" suda-uatrack="key=index_new_guess&amp;value=c_click" href="http://slide.ent.sina.com.cn/star/slide_4_704_227120.html?cre=sinapc&amp;mod=g&amp;loc=31&amp;r=0&amp;doct=0&amp;rfunc=26&amp;tj=none" title="组图：秋瓷炫拍写真气质优雅 长腿迷人身材好">组图：秋瓷炫拍写真气质优雅 长腿迷人身材好</a></li>
                                <li><a page-data="3" class="" target="_blank" suda-uatrack="key=index_new_guess&amp;value=c_click" href="http://ent.sina.com.cn/s/j/2017-08-23/doc-ifykcppy0775583.shtml?cre=sinapc&amp;mod=g&amp;loc=32&amp;r=0&amp;doct=0&amp;rfunc=26&amp;tj=none" title="人生赢家就是她！长得美资源好，还嫁给了王子">人生赢家就是她！长得美资源好，还嫁给了王子</a></li>
                            </ul>
                            <ul class="list-a list-rightmove"><li><a page-data="0" class="" target="_blank" suda-uatrack="key=index_new_guess&amp;value=c_click" href="http://news.sina.com.cn/o/2017-08-24/doc-ifykiurx1380771.shtml?cre=sinapc&amp;mod=g&amp;loc=1&amp;r=0&amp;doct=0&amp;rfunc=50&amp;tj=none" title="上海现共享单车“坟墓” 堆积如山场面壮观">上海现共享单车“坟墓” 堆积如山场面壮观</a></li><li><a page-data="0" class="" target="_blank" suda-uatrack="key=index_new_guess&amp;value=c_click" href="http://news.sina.com.cn/c/2017-08-24/doc-ifykiqfe1135712.shtml?cre=sinapc&amp;mod=g&amp;loc=2&amp;r=0&amp;doct=0&amp;rfunc=50&amp;tj=none" title="上海“民博会”开幕">上海“民博会”开幕</a></li><li><a page-data="0" class="" target="_blank" suda-uatrack="key=index_new_guess&amp;value=c_click" href="http://news.sina.com.cn/o/2017-08-24/doc-ifykiqfe1295765.shtml?cre=sinapc&amp;mod=g&amp;loc=3&amp;r=0&amp;doct=0&amp;rfunc=50&amp;tj=none" title="下月再骑这些车上路当心被罚款！广州这个新规你关心的都在这！">下月再骑这些车上路当心被罚款！广州这个新规你关心</a></li><li><a page-data="0" class="slideNewsLeft" target="_blank" suda-uatrack="key=index_new_guess&amp;value=c_click" href="http://slide.ent.sina.com.cn/star/slide_4_704_227028.html?cre=sinapc&amp;mod=g&amp;loc=4&amp;r=0&amp;doct=0&amp;rfunc=50&amp;tj=none" title="组图：女星扎麻花辫少女感十足 范冰冰赵丽颖谁最美?">组图：女星扎麻花辫少女感十足 范冰冰赵丽颖谁最美?</a></li><li><a page-data="0" class="" target="_blank" suda-uatrack="key=index_new_guess&amp;value=c_click" href="http://news.sina.com.cn/c/2017-08-24/doc-ifykiurx1348375.shtml?cre=sinapc&amp;mod=g&amp;loc=5&amp;r=0&amp;doct=0&amp;rfunc=50&amp;tj=none" title="奇葩“共享” 你是来搞笑的吧">奇葩“共享” 你是来搞笑的吧</a></li><li><a page-data="0" class="" target="_blank" suda-uatrack="key=index_new_guess&amp;value=c_click" href="http://news.sina.com.cn/o/2017-08-24/doc-ifykiqfe1247574.shtml?cre=sinapc&amp;mod=g&amp;loc=6&amp;r=0&amp;doct=0&amp;rfunc=50&amp;tj=none" title="上海静安探索降低菜价：社区直供减少中间环节，便宜一到两成">上海静安探索降低菜价：社区直供减少中间环节，便宜</a></li><li><a page-data="0" class="slideNewsLeft" target="_blank" suda-uatrack="key=index_new_guess&amp;value=c_click" href="http://slide.ent.sina.com.cn/star/hr/slide_4_704_226806.html?cre=sinapc&amp;mod=g&amp;loc=7&amp;r=0&amp;doct=0&amp;rfunc=50&amp;tj=none" title="郑恺女友程晓玥忙补妆获遮阳">郑恺女友程晓玥忙补妆获遮阳</a></li><li><a page-data="0" class="" target="_blank" suda-uatrack="key=index_new_guess&amp;value=c_click" href="http://news.sina.com.cn/c/2017-08-24/doc-ifykiqfe1084040.shtml?cre=sinapc&amp;mod=g&amp;loc=8&amp;r=0&amp;doct=0&amp;rfunc=50&amp;tj=none" title="“遛娃”小推车刚投放即被清理">“遛娃”小推车刚投放即被清理</a></li></ul>
                            <ul class="list-a list-rightmove"><li><a page-data="1" class="slideNewsLeft" target="_blank" suda-uatrack="key=index_new_guess&amp;value=c_click" href="http://slide.ent.sina.com.cn/star/slide_4_704_226995.html?cre=sinapc&amp;mod=g&amp;loc=9&amp;r=0&amp;doct=0&amp;rfunc=50&amp;tj=none" title="组图：唐嫣白T配破洞牛仔裤现身机场潮范十足">组图：唐嫣白T配破洞牛仔裤现身机场潮范十足</a></li><li><a page-data="1" class="" target="_blank" suda-uatrack="key=index_new_guess&amp;value=c_click" href="http://news.sina.com.cn/o/2017-08-24/doc-ifykiqfe1300242.shtml?cre=sinapc&amp;mod=g&amp;loc=10&amp;r=0&amp;doct=0&amp;rfunc=50&amp;tj=none" title="场面火爆！美男子连射700发子弹消音器融化">场面火爆！美男子连射700发子弹消音器融化</a></li><li><a page-data="1" class="" target="_blank" suda-uatrack="key=index_new_guess&amp;value=c_click" href="http://news.sina.com.cn/o/2017-08-24/doc-ifykiqfe1325460.shtml?cre=sinapc&amp;mod=g&amp;loc=11&amp;r=0&amp;doct=0&amp;rfunc=50&amp;tj=none" title="共享单车乱停放，南宁交警城管要对你动真格的了！">共享单车乱停放，南宁交警城管要对你动真格的了！</a></li><li><a page-data="1" class="slideNewsLeft" target="_blank" suda-uatrack="key=index_new_guess&amp;value=c_click" href="http://slide.ent.sina.com.cn/star/slide_4_704_227003.html?cre=sinapc&amp;mod=g&amp;loc=12&amp;r=0&amp;doct=0&amp;rfunc=50&amp;tj=none" title="组图：谭松韵人气旺 获粉丝跟拍人群中更显娇小">组图：谭松韵人气旺 获粉丝跟拍人群中更显娇小</a></li><li><a page-data="1" class="" target="_blank" suda-uatrack="key=index_new_guess&amp;value=c_click" href="http://weibo.com/3579140953/FiAS9lUVV?cre=sinapc&amp;mod=g&amp;loc=13&amp;r=0&amp;doct=0&amp;rfunc=50&amp;tj=none" title="你知道吗？在南宁乱停自行车 照样要罚款站岗">你知道吗？在南宁乱停自行车 照样要罚款站岗</a></li><li><a page-data="1" class="" target="_blank" suda-uatrack="key=index_new_guess&amp;value=c_click" href="http://news.sina.com.cn/o/2017-08-24/doc-ifykiurx1480842.shtml?cre=sinapc&amp;mod=g&amp;loc=14&amp;r=0&amp;doct=0&amp;rfunc=50&amp;tj=none" title="2017上海设计周9月揭幕 1.5万平设计魔乐园亮相申城">2017上海设计周9月揭幕 1.5万平设计魔乐园亮相申城</a></li><li><a page-data="1" class="slideNewsLeft" target="_blank" suda-uatrack="key=index_new_guess&amp;value=c_click" href="http://slide.ent.sina.com.cn/star/w/slide_4_704_227204.html?cre=sinapc&amp;mod=g&amp;loc=15&amp;r=0&amp;doct=0&amp;rfunc=50&amp;tj=none" title="组图：林允遇堵车改骑共享单车 体力不够卓伟出手相救">组图：林允遇堵车改骑共享单车 体力不够卓伟出手相</a></li><li><a page-data="1" class="slideNewsLeft" target="_blank" suda-uatrack="key=index_new_guess&amp;value=c_click" href="http://slide.ent.sina.com.cn/star/slide_4_704_226955.html?cre=sinapc&amp;mod=g&amp;loc=16&amp;r=0&amp;doct=0&amp;rfunc=50&amp;tj=none" title="组图：日本女优三上悠亚休闲出街 清新靓丽十分惹眼">组图：日本女优三上悠亚休闲出街 清新靓丽十分惹眼</a></li></ul>
                            <ul class="list-a list-rightmove"><li><a page-data="2" class="slideNewsLeft" target="_blank" suda-uatrack="key=index_new_guess&amp;value=c_click" href="http://slide.ent.sina.com.cn/star/slide_4_704_227043.html?cre=sinapc&amp;mod=g&amp;loc=17&amp;r=0&amp;doct=0&amp;rfunc=50&amp;tj=none" title="组图：“冰山王爷”王瑞昌现身上海 人气高涨">组图：“冰山王爷”王瑞昌现身上海 人气高涨</a></li><li><a page-data="2" class="slideNewsLeft" target="_blank" suda-uatrack="key=index_new_guess&amp;value=c_click" href="http://slide.ent.sina.com.cn/star/slide_4_704_227280.html?cre=sinapc&amp;mod=g&amp;loc=18&amp;r=0&amp;doct=0&amp;rfunc=50&amp;tj=none" title="组图：跑男团国庆档撞车 郑恺发博称“挤挤更健康”">组图：跑男团国庆档撞车 郑恺发博称“挤挤更健康”</a></li><li><a page-data="2" class="slideNewsLeft" target="_blank" suda-uatrack="key=index_new_guess&amp;value=c_click" href="http://slide.ent.sina.com.cn/star/slide_4_704_227144.html?cre=sinapc&amp;mod=g&amp;loc=19&amp;r=0&amp;doct=0&amp;rfunc=50&amp;tj=none" title="58岁倪萍素颜现身机场大腹便便">58岁倪萍素颜现身机场大腹便便</a></li><li><a page-data="2" class="" target="_blank" suda-uatrack="key=index_new_guess&amp;value=c_click" href="http://news.sina.com.cn/o/2017-08-24/doc-ifykiqfe1211186.shtml?cre=sinapc&amp;mod=g&amp;loc=20&amp;r=0&amp;doct=0&amp;rfunc=50&amp;tj=none" title="宁乡9M共享单车跑哪去了 车难找押金难退引“跑路”猜疑">宁乡9M共享单车跑哪去了 车难找押金难退引“跑路”</a></li><li><a page-data="2" class="" target="_blank" suda-uatrack="key=index_new_guess&amp;value=c_click" href="http://k.sina.com.cn/article_6026703087_1673830ef0010038l3.html?cre=sinapc&amp;mod=g&amp;loc=21&amp;r=0&amp;doct=0&amp;rfunc=50&amp;tj=none" title="张柏芝大婚：终于还是把自己嫁了出去">张柏芝大婚：终于还是把自己嫁了出去</a></li><li><a page-data="2" class="" target="_blank" suda-uatrack="key=index_new_guess&amp;value=c_click" href="http://k.sina.com.cn/article_6278905549_176407ecd001001fol.html?cre=sinapc&amp;mod=g&amp;loc=22&amp;r=0&amp;doct=0&amp;rfunc=50&amp;tj=none" title="李钰穿婚纱下葬，李冰冰含泪送别，初恋黄晓明未参加">李钰穿婚纱下葬，李冰冰含泪送别，初恋黄晓明未参加</a></li><li><a page-data="2" class="" target="_blank" suda-uatrack="key=index_new_guess&amp;value=c_click" href="http://news.sina.com.cn/c/2017-08-24/doc-ifykiurx1430076.shtml?cre=sinapc&amp;mod=g&amp;loc=23&amp;r=0&amp;doct=0&amp;rfunc=50&amp;tj=none" title="深圳对共享单车提出10项要求：暂停新增车辆投放">深圳对共享单车提出10项要求：暂停新增车辆投放</a></li><li><a page-data="2" class="" target="_blank" suda-uatrack="key=index_new_guess&amp;value=c_click" href="http://news.sina.com.cn/c/2017-08-24/doc-ifykiqfe1278211.shtml?cre=sinapc&amp;mod=g&amp;loc=24&amp;r=0&amp;doct=0&amp;rfunc=50&amp;tj=none" title="上海90岁海关大钟出故障走时不准 更换重要部件">上海90岁海关大钟出故障走时不准 更换重要部件</a></li></ul>
                            <ul class="list-a list-rightmove"><li><a page-data="3" class="" target="_blank" suda-uatrack="key=index_new_guess&amp;value=c_click" href="http://news.sina.com.cn/o/2017-08-24/doc-ifykiqfe1236033.shtml?cre=sinapc&amp;mod=g&amp;loc=25&amp;r=0&amp;doct=0&amp;rfunc=50&amp;tj=none" title="破解共享单车停放难题 武汉新增1.5万处停放点">破解共享单车停放难题 武汉新增1.5万处停放点</a></li><li><a page-data="3" class="" target="_blank" suda-uatrack="key=index_new_guess&amp;value=c_click" href="http://news.sina.com.cn/o/2017-08-23/doc-ifykiurx1202146.shtml?cre=sinapc&amp;mod=g&amp;loc=26&amp;r=0&amp;doct=0&amp;rfunc=50&amp;tj=none" title="8月23日起增开一大批列车，出行更方便啦">8月23日起增开一大批列车，出行更方便啦</a></li><li><a page-data="3" class="" target="_blank" suda-uatrack="key=index_new_guess&amp;value=c_click" href="http://news.sina.com.cn/o/2017-08-24/doc-ifykiurx1407383.shtml?cre=sinapc&amp;mod=g&amp;loc=27&amp;r=0&amp;doct=0&amp;rfunc=50&amp;tj=none" title="西双版纳一对男女等红灯时下车热舞，警方：系一时兴起已警告">西双版纳一对男女等红灯时下车热舞，警方：系一时兴</a></li><li><a page-data="3" class="" target="_blank" suda-uatrack="key=index_new_guess&amp;value=c_click" href="http://news.sina.com.cn/o/2017-08-24/doc-ifykiqfe1188032.shtml?cre=sinapc&amp;mod=g&amp;loc=28&amp;r=0&amp;doct=0&amp;rfunc=50&amp;tj=none" title="又一中国留学生在日失联 在日国人为何意外频发?">又一中国留学生在日失联 在日国人为何意外频发?</a></li><li><a page-data="3" class="" target="_blank" suda-uatrack="key=index_new_guess&amp;value=c_click" href="http://k.sina.com.cn/article_1768090472_6962eb68001001m4q.html?cre=sinapc&amp;mod=g&amp;loc=29&amp;r=0&amp;doct=0&amp;rfunc=50&amp;tj=none" title="明星拍吻戏真投入，舌头都伸进去了，看看谁在享受">明星拍吻戏真投入，舌头都伸进去了，看看谁在享受</a></li><li><a page-data="3" class="" target="_blank" suda-uatrack="key=index_new_guess&amp;value=c_click" href="http://k.sina.com.cn/article_6028876167_16759598700100293d.html?cre=sinapc&amp;mod=g&amp;loc=30&amp;r=0&amp;doct=0&amp;rfunc=50&amp;tj=none" title="他一生只收一徒 徒弟离世 让他伤心欲绝！">他一生只收一徒 徒弟离世 让他伤心欲绝！</a></li><li><a page-data="3" class="" target="_blank" suda-uatrack="key=index_new_guess&amp;value=c_click" href="http://news.sina.com.cn/c/2017-08-24/doc-ifykiurx1482424.shtml?cre=sinapc&amp;mod=g&amp;loc=31&amp;r=0&amp;doct=0&amp;rfunc=50&amp;tj=none" title="深圳用户违规停放共享单车 经营企业须30分钟内处置完毕">深圳用户违规停放共享单车 经营企业须30分钟内处置</a></li><li><a page-data="3" class="" target="_blank" suda-uatrack="key=index_new_guess&amp;value=c_click" href="http://news.sina.com.cn/c/2017-08-24/doc-ifykiqfe1097947.shtml?cre=sinapc&amp;mod=g&amp;loc=32&amp;r=0&amp;doct=0&amp;rfunc=50&amp;tj=none" title="共享单车成第三大公共出行方式">共享单车成第三大公共出行方式</a></li></ul>
                            <ul class="list-a list-rightmove"><li><a page-data="4" class="" target="_blank" suda-uatrack="key=index_new_guess&amp;value=c_click" href="http://news.sina.com.cn/c/2017-08-23/doc-ifykiurx1208511.shtml?cre=sinapc&amp;mod=g&amp;loc=33&amp;r=0&amp;doct=0&amp;rfunc=50&amp;tj=none" title="研究报告指出：武汉共享单车总数超60万已近饱和">研究报告指出：武汉共享单车总数超60万已近饱和</a></li><li><a page-data="4" class="" target="_blank" suda-uatrack="key=index_new_guess&amp;value=c_click" href="http://news.sina.com.cn/c/2017-08-24/doc-ifykiurx1253287.shtml?cre=sinapc&amp;mod=g&amp;loc=34&amp;r=0&amp;doct=0&amp;rfunc=50&amp;tj=none" title="骑“共享单车”">骑“共享单车”</a></li><li><a page-data="4" class="" target="_blank" suda-uatrack="key=index_new_guess&amp;value=c_click" href="http://news.sina.com.cn/c/nd/2017-08-24/doc-ifykiuaz0265742.shtml?cre=sinapc&amp;mod=g&amp;loc=35&amp;r=0&amp;doct=0&amp;rfunc=50&amp;tj=none" title="媒体：被玩坏的“共享们” 可还记得初心？">媒体：被玩坏的“共享们” 可还记得初心？</a></li><li><a page-data="4" class="" target="_blank" suda-uatrack="key=index_new_guess&amp;value=c_click" href="http://news.sina.com.cn/o/2017-08-24/doc-ifykiqfe1180277.shtml?cre=sinapc&amp;mod=g&amp;loc=36&amp;r=0&amp;doct=0&amp;rfunc=50&amp;tj=none" title="23岁在日中国男留学生失联超1周 父母已前往日本">23岁在日中国男留学生失联超1周 父母已前往日本</a></li><li><a page-data="4" class="" target="_blank" suda-uatrack="key=index_new_guess&amp;value=c_click" href="http://news.sina.com.cn/o/2017-08-24/doc-ifykiurx1374066.shtml?cre=sinapc&amp;mod=g&amp;loc=37&amp;r=0&amp;doct=0&amp;rfunc=50&amp;tj=none" title="南非2名侨胞遇袭身亡 中领馆吁知情者提供线索">南非2名侨胞遇袭身亡 中领馆吁知情者提供线索</a></li><li><a page-data="4" class="" target="_blank" suda-uatrack="key=index_new_guess&amp;value=c_click" href="http://news.sina.com.cn/o/2017-08-24/doc-ifykiurx1318016.shtml?cre=sinapc&amp;mod=g&amp;loc=38&amp;r=0&amp;doct=0&amp;rfunc=50&amp;tj=none" title="男子无证醉驾被拘留后死亡 警方：家属全程见证尸检">男子无证醉驾被拘留后死亡 警方：家属全程见证尸检</a></li><li><a page-data="4" class="" target="_blank" suda-uatrack="key=index_new_guess&amp;value=c_click" href="http://news.sina.com.cn/o/2017-08-24/doc-ifykiqfe1167758.shtml?cre=sinapc&amp;mod=g&amp;loc=39&amp;r=0&amp;doct=0&amp;rfunc=50&amp;tj=none" title="泰国女生疑被10年好闺蜜杀害 只因吃醋一位男生">泰国女生疑被10年好闺蜜杀害 只因吃醋一位男生</a></li><li><a page-data="4" class="videoNewsLeft" target="_blank" suda-uatrack="key=index_new_guess&amp;value=c_click" href="http://video.sina.com.cn/view/251534535.html?cre=sinapc&amp;mod=g&amp;loc=40&amp;r=0&amp;doct=0&amp;rfunc=50&amp;tj=none" title="静安区收缴违停共享单车近3万辆  堆积如山无人认领">静安区收缴违停共享单车近3万辆  堆积如山无人认领</a></li></ul>

                        </div>
                        <div class="news-fixed-m ">
                            <ul class="list-a list-rightmove">
                                <li><a target="_blank" href="http://auto.sina.com.cn/video/zz/2017-08-17/detail-ifykcypp8322420.shtml">被喷"还我女友"车主神回复</a> <a target="_blank" href="http://db.auto.sina.com.cn/photo/g99342-2.html">中国首款无人驾驶巴士路试</a></li>
                                <li><a target="_blank" href="http://news.sina.com.cn/s/wh/2017-06-19/doc-ifyhfnrf9311383.shtml">中年保安12年考研路</a> <a target="_blank" href="http://news.sina.com.cn/s/wh/2017-06-19/doc-ifyhfnrf9312049.shtml">捐19件文物的农民离世</a></li>
                                <li><a href="http://sax.sina.com.cn/click?type=nonstd&amp;t=REowMDAwNjE2MA%3D%3D&amp;sign=74df9fa89934325d&amp;url=http%3A%2F%2Finvest.bjhd.gov.cn%2F" target="_blank">投资海淀</a> | <a href="http://sax.sina.com.cn/click?type=nonstd&amp;t=REowMDAwNjE5NA%3D%3D&amp;sign=423b0ef0acbb446d&amp;url=http%3A%2F%2Fwww.zhsp.gov.cn%2F" target="_blank">中关村国家示范区</a><a href="http://sax.sina.com.cn/click?type=nonstd&amp;t=REowMDAwNjE2MQ%3D%3D&amp;sign=8835c2fd4467a441&amp;url=http%3A%2F%2Finvest.bjhd.gov.cn%2Fzctx%2F" target="_blank">海淀区1+4+1政策体系</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!--
                    作者：1289885769@qq.com
                    时间：2017-08-24
                    描述：右侧新闻
                -->
                <div class="part-a-r">
                    <div class="order-menu switch-menu3">
                        <span class="no-bl head-selected"><a href="http://photo.sina.com.cn/" target="_blank">新闻</a></span>
                        <span class="no-bl"><a href="http://photo.sina.com.cn/" target="_blank">看陕西</a></span>
                    </div>

                    <div class="switch-div3">
                        <div class="tab-cont">
                            <div class="newslist">
                                <ul class="list-a list-news-right">
                                    <li><a target="_blank" href="http://news.sina.com.cn/c/gat/2017-08-24/doc-ifykiuaz0291280.shtml">台“课审会”强推“台湾古文” 被批文化自宫</a></li>
                                    <li><a target="_blank" href="http://news.sina.com.cn/c/nd/2017-08-24/doc-ifykcypq5130825.shtml">网贷严监管1周年:882家平台退出 超7成良性退出</a></li>
                                    <li><a target="_blank" href="http://news.sina.com.cn/c/nd/2017-08-24/doc-ifykiqfe1085738.shtml">揭网售假存款证明:买家多为出国者 数额随便填</a></li>
                                    <li><a target="_blank" href="http://news.sina.com.cn/c/nd/2017-08-24/doc-ifykiurx1236413.shtml">北京17位市级河长巡遍北京所有水系 关注什么？</a></li>
                                    <li><a target="_blank" href="http://news.sina.com.cn/o/2017-08-24/doc-ifykiqfe1081361.shtml">10级强震不倒 故宫古建抗震功夫是如何炼成的</a></li>
                                    <li><a target="_blank" href="http://news.sina.com.cn/w/zx/2017-08-24/doc-ifykcypq5101448.shtml">外媒:埃及在西奈部署“翼龙”无人机 加强反恐</a></li>
                                    <li><a target="_blank" href="http://news.sina.com.cn/s/2017-08-24/doc-ifykiurx1253337.shtml">男子两个月内同时交三个“女友” 骗走20多万元</a></li>
                                    <li><a target="_blank" href="http://news.sina.com.cn/c/2017-08-24/doc-ifykiurx1235574.shtml">10岁男孩打赏女主播近6000元:不知充值是在花钱</a></li>
                                </ul>
                            </div>

                            <div class="newslist">
                                <ul class="list-a list-news-right">
                                    <li class="first_list" id="first_list" style="height: 26px;"><a target="_blank" href="http://news.sina.com.cn/c/nd/2017-08-25/doc-ifykiurx1523890.shtml">这些贪官失踪之后：有人潜逃海南去养猪</a></li>
                                    <li><a target="_blank" href="http://news.sina.com.cn/c/gat/2017-08-25/doc-ifykiuaz0608781.shtml">赴陆台商：蔡英文搞砸两岸关系令我们处境尴尬</a></li>
                                    <li><a target="_blank" href="http://mil.news.sina.com.cn/china/2017-08-25/doc-ifykkfas7695271.shtml">日媒称中国轰6军机飞至纪伊半岛近海 日战机紧急</a></li>
                                    <li><a target="_blank" href="http://news.sina.com.cn/w/2017-08-25/doc-ifykiqfe1380807.shtml">美舰频繁撞船重创无敌光环 美媒：大国衰落征兆</a></li>
                                    <li><a target="_blank" href="http://news.sina.com.cn/c/nd/2017-08-25/doc-ifykiurx1545421.shtml">中国在“建桥禁区”修桥 海域复杂惊诧七位院士</a></li>
                                    <li><a target="_blank" href="http://news.sina.com.cn/c/nd/2017-08-25/doc-ifykiurx1510993.shtml">藏族小朋友看到军车立正敬礼 解放军鸣笛回礼</a> <a target="_blank" href="http://slide.mil.news.sina.com.cn/l/slide_8_199_56129.html">现场</a></li>
                                    <li><a target="_blank" href="http://news.sina.com.cn/w/sy/2017-08-25/doc-ifykiuaz0609555.shtml">三星太子案今日尘埃落定 或面临12年牢狱生涯</a></li>
                                    <li><a target="_blank" href="http://news.sina.com.cn/o/2017-08-25/doc-ifykiqfe1389241.shtml">美官员在辞职信中写藏头诗：希望特朗普被弹劾</a></li>
                                    <li><a target="_blank" href="http://news.sina.com.cn/s/2017-08-25/doc-ifykiqfe1388821.shtml">嫌犯携百万逃亡18年:蹭网打游戏 每月只花200元</a></li>
                                    <li><a target="_blank" href="http://news.sina.com.cn/zxt/#251529073" class="videoNewsLeft liveNewsLeft">战机演绎超低空飞行 围观群众一阵尖叫</a></li>
                                    <li id="top_last"><a target="_blank" href="http://gd.sina.com.cn/zt_d/tftg2017">台风飞鸽今日将在珠海到阳江登陆 红色预警发布</a></li>
                                </ul>
                            </div>

                            <div class="newslist">
                                <ul class="list-a list-news-right">
                                    <li><span class="fe661"><a href="http://finance.sina.com.cn/" target="_blank">财经</a> | </span><a target="_blank" href="http://finance.sina.com.cn/roll/2017-08-25/doc-ifykiuaz0611029.shtml">如果投资一套房要100年回本 你还会炒吗？</a></li>
                                    <li><a target="_blank" href="http://finance.sina.com.cn/review/hgds/2017-08-25/doc-ifykkfas7684775.shtml">富地区该不该补贴穷地区？江浙沪粤被比作任宰割的</a></li>
                                    <li><a target="_blank" href="http://finance.sina.com.cn/china/gncj/2017-08-25/doc-ifykiuaz0615276.shtml" class="linkRed">人民日报海外版关注银行业发展论坛</a> <a target="_blank" href="http://finance.sina.com.cn/money/bank/banking2017/" class="linkRed">银行大佬集体</a></li>
                                    <li><span class="fe661"><a href="http://finance.sina.com.cn/stock/" target="_blank">股票</a> | </span> <a target="_blank" href="http://finance.sina.com.cn/stock/zldx/2017-08-25/doc-ifykiuaz0629943.shtml">牛散王素芳炒股18年挣13亿：消息灵通 或是</a></li>
                                    <li><a href="http://news.leju.com/" target="_blank">2020年成楼市政策焦点年</a> <a href="http://bj.leju.com/topic/6304162314140824374.shtml" target="_blank">一张图读懂房企年中报</a></li>
                                    <li><span class="fe661"><a href="http://tech.sina.com.cn/" target="_blank">科技</a> | </span>  <a target="_blank" href="http://tech.sina.com.cn/it/2017-08-25/doc-ifykkfas7611238.shtml">李在镕今日一审宣判 三星还未准备选新领导人</a></li>
                                    <li><span class="fe661"></span><a target="_blank" href="http://tech.sina.com.cn/i/2017-08-25/doc-ifykiqfe1384015.shtml" class="videoNewsLeft">揭儿童色情内容交易：色情网站屡禁不止 监管困</a></li>
                                    <li><span class="fe661"></span><a target="_blank" href="http://tech.sina.com.cn/d/s/2017-08-25/doc-ifykiuaz0642690.shtml">新型引力波或发现!中子星相撞引发</a> <a target="_blank" href="http://gif.sina.com.cn/">GIF:小猫揍跑小</a></li>
                                    <li><span class="fe661"><a href="http://auto.sina.com.cn/" target="_blank">汽车</a> | </span> <a target="_blank" href="http://auto.sina.com.cn/newcar/x/2017-08-22/detail-ifykcypq3658112.shtml">斯柯达新明锐11.99万起</a> <a target="_blank" href="http://auto.sina.com.cn/newcar/x/2017-08-18/detail-ifykcypp9400689.shtml">福特新SUV 6款配置</a></li>
                                    <li><span class="fe661"><a href="http://fashion.sina.com.cn/" target="_blank">时尚</a> | </span><a href="http://fashion.sina.com.cn/s/ce/2017-08-25/0830/doc-ifykiuaz0453057.shtml" target="_blank" class="linkRed01">张继科被爆择偶标准</a><a target="_blank" href="http://fashion.sina.com.cn/match/search/%E8%BF%9E%E4%BD%93%E8%A3%A4">长腿女神最爱连体裤</a></li>
                                    <li><span class="fe661"><a href="http://fashion.sina.com.cn/" target="_blank">热点</a> | </span><a href="http://fashion.sina.com.cn/s/ac/2017-08-24/0253/doc-ifykcypq4735661.shtml" target="_blank">杜海涛cos吴亦凡</a> <a href="http://fashion.sina.com.cn/s/in/2017-08-24/0253/doc-ifykcppy0719855.shtml" target="_blank" class="linkRed01">Raf Simons推出天价胶带</a></li>
                                    <li><span class="fe661"><a href="http://fashion.sina.com.cn/" target="_blank">关注</a> | </span><a href="http://fashion.sina.com.cn/d/ft/2017-08-24/0258/doc-ifykcypq4580279.shtml" target="_blank" class="linkRed01">刘雯驼背靠这招练好了</a><a href="http://fashion.sina.com.cn/beauty/buy/2017-08-24/0259/doc-ifykcppy0621475.shtml" target="_blank">七夕颜值最高美妆品</a></li>
                                </ul>
                            </div>
                        </div>

                        <!--时间：2017-08-24  描述：新闻切换-->
                        <div class="tab-cont news-list-long">
                            <div class="newslist2">
                                <ul class="list-a list-news-right list-clear-height">
                                    <li><a href="http://sx.sina.com.cn/" target="_blank">西安892套保障房将分配 符合条件的家庭可申报</a></li>
                                    <li><a href="http://sx.sina.com.cn/news/b/2017-08-24/detail-ifykcypq5238921.shtml" target="_blank">陕西省政府将新聘国际高级经济顾问15名 刘强东</a></li>
                                    <li><a href="http://sx.sina.com.cn/news/b/2017-08-24/detail-ifykiqfe1088921.shtml" target="_blank">西安整治滥用远光灯 违法司机体验远光照射</a></li>
                                    <li><a href="http://sx.sina.com.cn/news/g/2017-08-24/detail-ifykiqfe1088765.shtml" target="_blank">陕西将成立空天动力研究院 推动我省经济转型升级</a></li>
                                    <li><a href="http://sx.sina.com.cn/news/g/2017-08-24/detail-ifykiuaz0329832.shtml" target="_blank">陕西农民进城购房 五成多青睐电梯高层楼房</a></li>
                                    <div class="blank-d" style="height:10px"></div>
                                    <li><a href="https://www.yizhibo.com/l/_LjHLznFp8jyM3AP.html" target="_blank">2017西安通航大会今天开幕 新浪陕西带你现场看</a></li>
                                    <li><a href="http://sx.sina.com.cn/news/b/2017-08-24/detail-ifykiuaz0343797.shtml" target="_blank">沿黄公路将通车 晋陕黄河峡谷土石段70万群众受益</a></li>
                                    <li><a href="http://sx.sina.com.cn/news/b/2017-08-24/detail-ifykcypq5281326.shtml" target="_blank">陕成立6个联合督察组赴地市 保群众"舌尖上的安全"</a></li>
                                    <li><a href="http://sx.sina.com.cn/news/g/2017-08-24/detail-ifykiurx1243843.shtml" target="_blank">西安将全面摸排取缔黑停车场 市民可打电话举报</a></li>
                                    <li><a href="http://sx.sina.com.cn/news/" target="_blank">西安警方破获特大新型传销案抓获30人 冻结5766万</a></li>
                                    <li><a href="http://sx.sina.com.cn/news/b/2017-08-24/detail-ifykiqfe1088746.shtml" target="_blank">租来车抵押从中牟利 西安两男子多次作案获刑</a></li>
                                    <li><a href="http://sx.sina.com.cn/news/b/2017-08-24/detail-ifykiqfe1088740.shtml" target="_blank">西安一老赖买机票受限 被困外地“求助”法院</a></li>
                                    <li><a href="http://sx.sina.com.cn/news/b/2017-08-24/detail-ifykiqfe1088905.shtml" target="_blank">西安明起发售道路停车年卡 资费2800元</a></li>
                                    <li><a href="http://sx.sina.com.cn/news/b/2017-08-24/detail-ifykiqfe1088725.shtml" target="_blank">西安城镇医保床位费调整 三级医院每日每床32元</a></li>
                                    <li><a href="http://sx.sina.com.cn/news/b/2017-08-24/detail-ifykcypq5283615.shtml" target="_blank">陕西发布7月渭河监测结果 6个断面未达标</a></li>
                                    <li><a href="http://sx.sina.com.cn/news/b/2017-08-24/detail-ifykiuaz0345093.shtml" target="_blank">陕西组建57个医联体 今后每人都有家庭医生</a></li>
                                    <li><a href="http://sx.sina.com.cn/news/b/2017-08-24/detail-ifykiqfe1051811.shtml" target="_blank">旅游大巴连撞两车扎进绿化带 被撞车辆司机被卡住</a></li>
                                    <li><a href="http://slide.sx.sina.com.cn/news/slide_36_21340_486088.html" target="_blank">商洛：凌晨活动板房突发大火 塑料制品迅速引燃</a></li>
                                    <div class="blank-d" style="height:13px"></div>
                                    <li><a href="http://sx.sina.com.cn/news/b/2017-08-21/detail-ifykcypq1678188.shtml" target="_blank">西安小女孩暑假成父母小帮手 每天早上七点起床</a></li>
                                    <li><a href="http://sx.sina.com.cn/news/g/2017-08-21/detail-ifykcppx9853983.shtml" target="_blank">女法医18年解剖尸体200余具 用DNA破案250余起</a></li>
                                    <li><a href="http://sx.travel.sina.com.cn/" target="_blank">旅游</a>|<a href="weibo.com/2162541102/FdRBQfioK" target="_blank">动动手指来帮家乡上头条</a> <a href="http://travel.sina.com.cn/domestic/news/2017-07-23/detail-ifyihrit1371561.shtml" target="_blank">华阳首届秦岭河谷闹</a></li>
                                    <li><a href="http://sx.travel.sina.com.cn/" target="_blank">旅游</a>|<a href="http://weibo.com/p/100808e478cdb439d4a506c41cae7c3af4053e" target="_blank">我为美丽乡村代言</a>&nbsp;<a href="http://travel.sina.com.cn/china/2014-11-26/1608286916.shtml" target="_blank">陕西最贵景区门票排行榜</a></li>
                                    <li><a href="http://sx.travel.sina.com.cn/" target="_blank">旅游</a>|<a href="http://travel.sina.com.cn/china/2014-12-22/1733290713.shtml" target="_blank">没有月光宝盒也能穿越</a>&nbsp;<a href="http://travel.sina.com.cn/china/2015-01-12/1732295250.shtml" target="_blank">在消灾寺折腾过的大佬</a></li>
                                    <li><a href="http://xian.51xiancheng.com/" target="_blank">鲜城</a>| <a href="http://xian.51xiancheng.com/article/54193" target="_blank">康熙钦点滋补养生猪肚鸡</a>   <a href="http://xian.51xiancheng.com/article/54181" target="_blank">去过联合国的内蒙</a> </li>
                                    <li><a href="http://xian.51xiancheng.com/" target="_blank">鲜城</a>| <a href="http://xian.51xiancheng.com/article/54172" target="_blank">赴一场美味的蟹煲之旅</a> <a href="http://xian.51xiancheng.com/article/54211" target="_blank">轮回般有趣的旋转寿司</a> </li>
                                    <li><a href="http://xa.auto.sina.com.cn/" target="_blank">汽车</a>|<a href="http://xa.auto.sina.com.cn/shcs/2017-08-21/detail-ifykcppx9863587.shtml" target="_blank">起亚KX5优惠2.99万</a> <a href="http://xa.auto.sina.com.cn/shcs/2017-08-21/detail-ifykcypq1689832.shtml" target="_blank">沃尔沃S60L最高降7.29万</a></li>
                                    <li><a href="http://xa.auto.sina.com.cn/" target="_blank">汽车</a>|<a href="http://xa.auto.sina.com.cn/xcpc/2017-08-21/detail-ifykcypq1680932.shtml" target="_blank">逸动XT RS成都车展上市</a> <a href="http://xa.auto.sina.com.cn/xcpc/2017-08-21/detail-ifykcypq1669578.shtml" target="_blank">起亚凯绅成都车展</a></li><!--old-->
                                    <li><a href="http://sx.sina.com.cn/news/b/2017-08-19/detail-ifykcirz3199905.shtml" target="_blank">陕西10年资助学生7589万人次 义务段受资助人数</a></li>
                                    <li><ins class="sinaads sinaads-done" data-ad-pdps="PDPS000000035497" data-ad-status="done" style="text-decoration: none;"><i style="font-style:normal;">广告:</i><a href="http://sax.sina.com.cn/click?type=bottom&amp;t=UERQUzAwMDAwMDAzNTQ5Nw%3D%3D&amp;url=http%3A%2F%2Fslide.sx.sina.com.cn%2F&amp;sign=100f6f4a64a3b151" target="_blank">读图时代看陕西大片</a></ins> <ins class="sinaads sinaads-done" data-ad-pdps="PDPS000000035499" data-ad-status="done" style="text-decoration: none;"><i style="font-style:normal;">广告:</i><a href="http://sax.sina.com.cn/click?type=bottom&amp;t=UERQUzAwMDAwMDAzNTQ5OQ%3D%3D&amp;url=http%3A%2F%2Fsx.sina.com.cn%2Fzt%2Fyingxiaozhongxin.html&amp;sign=881bdf579b507b7f" target="_blank">新浪陕西精准营销案</a></ins></li>
                                    <li><ins class="sinaads sinaads-done" data-ad-pdps="PDPS000000035502" data-ad-status="done" style="text-decoration: none;"><i style="font-style:normal;">广告:</i><a href="http://sax.sina.com.cn/click?type=bottom&amp;t=UERQUzAwMDAwMDAzNTUwMg%3D%3D&amp;url=http%3A%2F%2Fxian.51xiancheng.com%2F&amp;sign=88fb5e08ec549dc5" target="_blank">西安特色美食大搜罗</a></ins> <a href="http://slide.sx.sina.com.cn/news/slide_36_21340_472010.html#p=1" target="_blank">宁强田园风光入画来</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

