<div class="header-search">
    <div class="logo">
        <img src="~/Content/SinaNews/img/LOGO.png">
    </div>
    <div class="top-search">
        <form name="SearchEcho" action="~/Home/SearchResult">
            <div class="sim-select">
                <select id="slt_01" autocomplete="off">
                    <option value="新闻" selected="selected">新闻</option>
                    <option value="微博">微博</option>
                    <option value="图片">图片</option>
                    <option value="博客">博客</option>
                    <option value="视频">视频</option>
                </select>
            </div>
            <div class="search-box">
                <input type="text" name="q" />
            </div>
            <div class="search-submit">
                <input id="search-submit" type="submit" value=" "/>
            </div>
        </form>
        
    </div>
    <div class="weather-message">
        <a id="weatherBox" href="http://weather.sina.com.cn/xian" target="_blank">
            <span class="now-wea-city" title="西安">西安</span>
            <span class="now-wea-i">
                <img src="~/Content/SinaNews/img/weather.png" />
            </span>
            <span class="now-wea-city" title="西安">24℃</span>
        </a>
    </div>
    <div class="advert-top">
        <a class="advert-top-left" href="http://news.sina.com.cn/pc/2014-10-30/326/3095.html" target="_blank">
            <img src="~/Content/SinaNews/img/广告.jpg" />
        </a>
        <a class="advert-top-right" href="http://jubao.china.cn:13225/reportform.do" target="_blank">
            <img src="~/Content/SinaNews/img/广告2.png" />
        </a>
    </div>
</div>
